addons:
  apt:
    packages:
    - gfortran
    - libffi-dev
    - libssl-dev
    - python-lzma
    - python3
    - doxygen
    - graphviz

cache:
  - timeout: 1000

notifications:
  email:
    on_success: change
    on_failure: always

after_success:
  - conda install codecov
  - codecov

jobs:
  include:
  - stage: compile
    name: "proteus-hashdist linux install"
    os: linux
    dist: xenial
    language: python
    python: 2.7
    env: TEST_PROFILE="proteus-hashdist"
    install:
      bash ./.travis/install.sh hashdist
    script: skip
    workspaces:
      create:
        name: linux-hashdist-build
        paths: $HOME
  - stage: compile
    name: "proteus-conda linux install"
    os: linux
    dist: xenial
    language: python
    python: 3.7
    env: TEST_PROFILE="proteus-conda"
    install:
      bash ./.travis/install.sh conda
    script: skip
    workspaces:
      create:
        name: linux-conda-build
        paths: $HOME
  - stage: compile
    name: "proteus-conda osx install"
    os: osx
    osx_image: xcode11.3
    env: TEST_PROFILE="proteus-conda-osx"
    install:
      bash ./travis/install.sh conda
    script: skip
    workspaces:
      create:
        name: osx-conda-build
        paths: $HOME
  - stage: test
    name: "proteus-hashdist linux tests"
    os: linux
    dist: xenial
    language: python
    python: 2.7
    env: TEST_PROFILE="proteus-hashdist"
    workspaces:
      use:
        - linux-hashdist-build
    install: skip
    script:
      - export PATH=$PWD/linux/bin:$PATH
      - export LD_LIBRARY_PATH=$PWD/linux/lib:$LD_LIBRARY_PATH
      - export MPLBACKEND="AGG"
      - PATH=./linux/bin:$PATH py.test -n 1 --dist=loadfile --forked -v proteus/tests --ignore proteus/tests/POD  --ignore proteus/tests/MeshAdaptPUMI -k 'not test_damBreak_solver_options' --cov=proteus
  - stage: test
    name: "proteus-conda tests"
    os: linux
    dist: xenial
    language: python
    python: 3.7
    env: TEST_PROFILE="proteus-conda"
    workspaces:
      use:
        - linux-conda-build
    install: skip
    script:
      - source "$HOME/miniconda/etc/profile.d/conda.sh"
      - conda activate proteus-dev
      - export MPLBACKEND="AGG"
      - py.test -n 1 --dist=loadfile --forked -v proteus/tests --ignore proteus/tests/POD  --ignore proteus/tests/MeshAdaptPUMI --cov=proteus
  - stage: test
    name: "conda osx"
    os: osx
    osx_image: xcode11.3
    env: TEST_PROFILE="proteus-conda-osx"
    workspaces:
      use:
        - osx-conda-build
    install: skip
    script:
      - export MPLBACKEND="AGG"
      - git lfs install
      - git lfs pull
      - cd proteus/tests/ci
      - parun poisson_3d_tetgen_p.py poisson_3d_tetgen_c0p1_n.py -l 5 -v
  - stage: deploy
    name: "deploy documentation"
    python: 3.7
    env: TEST_PROFILE="proteus-conda"
    workspaces:
      use:
        - linux-conda-build
    install: skip
    script: skip
    deploy:
      provider: script
      script: bash ./.travis/deploy.sh docs
      skip_cleanup: true
      on:
        branch: master
